<!--Heredar index.html-->
{% extends "./index.html" %} 

{% block title %} Gestion {% endblock %}

{% block body %}

<!--crear columnas-->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

                <h2 class="text-muted">GESTION DE EQUIPOS</h2>
                <div class="card bg-light">
                    <div class="card-body">
                        <form action="/registrarDatos/" method="POST">{% csrf_token %}<!--protege de acciones desautorizadas-->

                            <!-----------CREANDO INPUT----------------->
                            <div class="form-group py-4">
                                <input type="text" name="txtCodigo" class="form-control" placeholder="Codigo" required minlength="2" maxlength="20">
                            </div>
                            <!---------------------------------------------------------------------------------------->
                            <div class="form-group py-4">
                                <input type="text" name="txtEquipo" class="form-control" placeholder="Equipo" required minlength="4" maxlength="20">
                            </div>
                            <!---------------------------------------------------------------------------------------->
                            <div class="form-group py-4">
                                <input type="text" name="txtCiudad" class="form-control" placeholder="Ciudad" required minlength="4" maxlength="20"> 
                            </div>
                            <!---------------------------------------------------------------------------------------->
                            <div class="form-group py-4">
                                <input type="text" name="txtEstadio" class="form-control" placeholder="Estadio" required minlength="4" maxlength="20">
                            </div>
                            <!---------------------------------------------------------------------------------------->
                            
                            <!--Accion para procesar los datos-->

                            <div class="form-group">
                                
                                <button type="submit" class="btn btn-outline-success form-control">Guardar</button>


                            </div>

                        </form>
                    </div>
                </div>            

        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <!---->
            <h2 class="text-muted">LISTA DE EQUIPOS DE LA NFL</h2>

            <!--Crear una tabla responsiva-->
            <div class="table-responsive">
                <table class="table table-striped bg-light"> <!-- Cambié el fondo de la tabla a un color claro -->
                    <thead class="table-dark"> <!-- Cambié el color del texto de la cabecera de la tabla a oscuro -->
                        <tr>
                            <th>Codigo</th>
                            <th>Equipo</th>
                            <th>Ciudad</th>
                            <th>Estadio</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in liga %}
                        <tr>
                            <td>{{l.codigo}}</td>
                            <td>{{l.equipo}}</td>
                            <td>{{l.ciudad}}</td>
                            <td>{{l.estadio}}</td>
                            <td><a href="edicionDatos/{{l.codigo}}" class="btn btn-dark text-white">Editar</a></td>
                            <td><a href="eliminarDatos/{{l.codigo}}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>
    </div>

{% endblock %}
